<div #mapa   class="mapa-container"></div>


<div class="row">
    <div class="col-12">
        <input type="range" 
               class="form-range"
               [value]="zoomLeave"
               min="0" max="19"
               (input) ="zoomCambio(zoomInput.value)"
               #zoomInput>
    </div>
    <div class="col-12">
        <button (click)="zoomOut()" class="btn btn-primary">-</button>
        <label class="form-label p-2">zoom: {{zoomLeave | number:'2.0-3'}} | log - lat [{{cordenadas[0] | number:'2.4-4' }} - {{cordenadas[1] | number:'2.4-4' }}]</label>
        <button (click)="zoomInt()" class=" btn btn-primary float-end">+</button>
    </div>
</div>